.h2pink {
    color: var(--color-pink) !important;
    margin-bottom: 2rem;
}

.habilidades{
    margin-top: 80px;
    padding: 0;
   
}

.habilidades li{
    list-style-type: none;
    margin-bottom: 1rem;
    font-size: 12px;
  }

@media screen and (max-width: 991px) {
    .habilidades-right {
        display: none !important;
    }      
}


@media screen and (min-width: 992px) {
    .habilidades{
        flex-direction: row !important;
    }
}
