.dark-profile {
    width: 322px;
    height: 322px;
    background-image: "../images/profile-dark.png";
    background-repeat: no-repeat;
    background-size: 100%;

}

.light-profile {
    width: 322px;
    height: 322px;
    background-image: "../images/profile-light.png";
    background-repeat: no-repeat;
    background-size: 100%;

}
.home-bio {
    max-width: 360px;
}

.dark-home-bio #btn-portfolio {
    background-color: var(--color-purple);
    border: none;
    color: var(--color-text-projects);
}

.dark-home-bio #btn-formation {
    background-color: transparent;
    color: var(--color-pink);

    border: 1px solid var(--color-pink);
}

.dark-home-bio button {
    width: 152px;
    height: 35px;
    border-radius: 6px;
    font-size: 12px;
    letter-spacing: 0.15em;
}


.light-home-bio #btn-portfolio {
    background-color:#685F83;
    border: none;
    color: var(--color-text-projects);
}

.light-home-bio button {
    width: 152px;
    height: 35px;
    border-radius: 6px;
    font-size: 12px;
    letter-spacing: 0.15em;
}

.light-home-bio #btn-formation {
    background-color: transparent;
    color: var(--color-pink);

    border: 1px solid var(--color-pink);
}



@media screen and (min-width: 992px) {

    .home {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row !important;
    }

    .home-bio {
        vertical-align: baseline;
        text-align: left !important;
    }

    .home-buttons {
        display: flex;
        flex-direction: row;
    }

    

}


